.Projects {
  margin-top: 9.5rem;
  &__works {
    margin-top: 3.2rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  &__heading {
    font: bold 1.4rem Montserrat;
    letter-spacing: -0.02em;
    color: #25323d;
  }
}
