.bluebutton {
  background: #40aaff;
  box-shadow: 0px 2px 3px rgba(0, 59, 108, 0.28);
  border-radius: 100px;
  font: 500 12px Poppins;
  color: #ffffff;
  &--presentation {
    margin-top: 24px;
    font-size: 13px;
    width: 115px;
    height: 41px;
  }
  &--about-me {
    width: 177px;
    height: 41px;
    margin: 28px 0 110px 0;
  }
}
