.profile {
  display: none;
  @media (min-width: 800px) {
    display: flex;
  }
  @media (min-width: 800px) {
    display: flex;
  }

  margin-right: 61px;

  background: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 31.5%;
  max-width: 258px;
  min-width: 230px;

  //   min-width: 216px;
  height: 218px;
  /* Shadow Depth 2 */
  box-shadow: 0px 50px 30px rgba(0, 59, 108, 0.06);
  border-radius: 13px;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__picture {
    position: relative;
    top: 3px;
    left: -3px;

    border-radius: 50%;
    width: 84px;
    height: 84px;
    mix-blend-mode: normal;
    filter: drop-shadow(0px 10px 20px rgba(0, 59, 108, 0.13));
    border-radius: 42.09px;
  }

  &__job {
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 143px;
    align-items: center;
    height: 24.84px;
    background: #00d8ff;
    box-shadow: 0px 5px 20px rgba(250, 118, 96, 0.2);
    border-radius: 65.766px;
    font: 600 10.5px Montserrat;
    color: #ffffff;
  }
  &__name {
    margin-top: 14px;
    color: #25323d;
    font: bold 15.8px Montserrat;
    text-align: center;
  }
  &__location {
    margin-top: 7px;
    font: 500 14px Montserrat;
    color: #859fb4;
    text-align: center;
  }
  &__icons {
    position: absolute;
    width: 235px;
    height: 235px;
  }
}
