.projects-group {
  margin-top: 101px;
  @media (min-width: 800px) {
    margin-top: 171px;
  }
  &__works {
    margin-top: 24px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(274px, 1fr));
    @media (min-width: 340px) {
      grid-template-columns: repeat(auto-fill, minmax(304px, 1fr));
    }
  }
}
