.Icon {
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3eef7;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    transform: scale(1.08);
  }
}
