.Work {
  &__icon {
    box-shadow: 0px 22.9419px 13.7651px rgba(0, 59, 108, 0.06);
    border-radius: 6px;
    background-color: #ffffff;
    width: 28px;
    height: 28px;
  }
  &__icon-img {
    width: 1.8rem;
    height: 1.8rem;
    &--figma {
      width: 1rem;
      height: 1.4rem;
    }
    &--figma {
      width: 1rem;
      height: 1.4rem;
    }
    &--node {
      width: 1.6rem;
    }
    &--typescript {
      width: 1.3rem;
      height: 1.3rem;
    }
    &--styled-components {
      width: 3rem;
      height: 3rem;
    }
  }
}
