.value {
  background: #10daff;
  height: inherit;
}

.progress {
  box-shadow: 0 5px 19px rgba(0, 0, 0, 0.08);
  width: calc(100% - 10px);

  @media (min-width: 520px) {
    width: calc(100% - 25px);
  }
}

.level {
  transform: translateX(-50%);
  color: #555d6d;
  letter-spacing: -0.02em;
}
