.Skills {
  margin-top: 9.4rem;
  position: relative;
  &__heading {
    margin-bottom: 3.7rem;
  }
  &__see-more {
    position: absolute;
    right: 0;
    font: 500 1.4rem/140% Montserrat;
    letter-spacing: -0.02em;
    color: #888888;
    display: flex;
    margin-top: -3rem;
  }
  &__chevron-down {
    margin-left: 5px;
  }
}
