.Skill {
  display: flex;
  &:first-child {
    margin-bottom: 3.7rem;
  }

  margin-bottom: 4.5rem;
  align-items: center;
  position: relative;
  &__value {
    background: #10daff;
    border-radius: 5px;
    height: inherit;
    display: block;
  }
  &__icon {
    box-shadow: 0px 22.9419px 13.7651px rgba(0, 59, 108, 0.06);
    border-radius: 5px;
    background: #ffffff;
    margin-right: 1.7rem;
    width: 40px;
    height: 35px;
    @media (min-width: 520px) {
      width: 50px;
      height: 45px;
    }
    @media (min-width: 400px) {
      margin-right: 2.5rem;
    }
  }
  &__img {
    width: 16px;

    @media (min-width: 520px) {
      width: auto;
    }
  }
  &__progress {
    position: relative;
    background: #ffffff;
    box-shadow: 0px 5px 19px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    height: 1.3rem;
    width: calc(100% - 10px);

    @media (min-width: 520px) {
      width: calc(100% - 25px);
    }
  }
  &__level {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    color: #555d6d;
    font: 500 1.4rem/140% Montserrat;
    letter-spacing: -0.02em;
    top: -26px;
  }
}
