.About-me {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 14.3rem;
  &__text-container {
    flex-basis: 100%;
    @media (min-width: 800px) {
      flex-basis: 46.3%;
    }
  }
  &__myself {
    margin-top: 1.6rem;
    font: 400 1.4rem/140% Montserrat;
    color: #486f8e;
    &--course {
      margin-top: 1.4rem;
    }
  }

  &__heading {
    &--education {
      margin-top: 3.8rem;
    }
  }
  &__course {
    margin-top: 1.6rem;
    font: 500 1.4rem Montserrat;
    color: #486f8e;
  }
  &__date {
    margin-top: 0.7rem;
    font: 400 1.3rem Montserrat;
    color: #6a92b4;
  }
  &__button {
    width: 17.7rem;
    height: 4.1rem;
    margin: 2.8rem 0 14.6rem 0;
  }
  &__img {
    display: none;
    @media (min-width: 800px) {
      display: block;
    }
  }
}
