.strong {
  animation: presentation-color 2s forwards;

  @keyframes presentation-color {
    from {
      color: black;
    }

    to {
      color: #40aaff;
    }
  }
}


.wrapper {
  mix-blend-mode: normal;
  filter: drop-shadow(0 10px 20px rgba(0, 59, 108, 0.13));

  & > div {
    border-radius: 50%;
  }
}

