.content {
  margin-top: 158px;
  display: flex;

  justify-content: space-between;
  flex: 1;

  @media (max-width: 768px) {
    flex-wrap: wrap;
  }
  &__text {
    max-width: 420px;
  }
  &__title {
    font: 500 26px Montserrat;
    color: #2a343c;
  }
  &__description {
    margin-top: 16px;
    font: 500 14px Montserrat;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #5c8594;
  }

  &__illustration {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    &--challenges {
      margin: 0 70px 0 0;
    }

    @media (max-width: 768px) {
      margin: 40px 0 40px 0;
      justify-content: flex-start;
      &--story {
        margin: 40px 0 40px 0;
      }
    }
  }
  &__img {
    width: 93%;
    min-width: 300px;
    max-width: 350px;
    @media (max-width: 768px) {
      min-width: 0;
      max-width: 200px;
    }
  }
}
