.presentation {
  margin-top: 90px;
  @media (min-width: 420px) {
    margin-top: 125px;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__strong {
    animation: presentation-color 2s forwards;

    @keyframes presentation-color {
      from {
        color: black;
      }
      to {
        color: #40aaff;
      }
    }
  }
  &__call {
    @media (min-width: 800px) {
      width: calc(54% - 61px);
    }
  }
  &__heading {
    font: bold 30px Poppins;
    line-height: 140%;
    letter-spacing: -0.04em;

    /* Dark */
    color: #25323d;
  }
  &__paragraph {
    margin-top: 14px;
    font: 15px/140% Montserrat;
    color: #62839d;
  }
  &__icon {
    position: relative;
    top: 2px;
    margin-right: 12px;
  }
}
