.Presentation {
  margin-top: 9rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  &__call {
    @media (min-width: 800px) {
      width: calc(54% - 61px);
    }
  }
  &__heading {
    font: bold 3rem Poppins;

    letter-spacing: -0.04em;

    /* Dark */
    color: #25323d;
  }
  &__paragraph {
    margin-top: 1.8rem;
    font: 1.5rem/140% Montserrat;
    color: #62839d;
  }
  &__button {
    margin-top: 2.4rem;
  }
}
