*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root,
html,
.App {
  height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6em;
  background-color: #f8f9fa;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  cursor: pointer;
  font: inherit;
}
