@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src:   url('/assets/fonts/poppins-regular.woff2') format('woff2'),
  url('/assets/fonts/poppins-regular.woff') format('woff');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src:   url('/assets/fonts/poppins-medium.woff2') format('woff2'),
  url('/assets/fonts/poppins-medium.woff') format('woff');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  src:   url('/assets/fonts/poppins-semibold.woff2') format('woff2'),
  url('/assets/fonts/poppins-semibold.woff') format('woff');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/poppins-bold.woff2') format('woff2'),
  url('/assets/fonts/poppins-bold.woff') format('woff');
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/montserrat-medium.woff2') format('woff2'),
  url('/assets/fonts/montserrat-medium.woff') format('woff');
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/montserrat-medium.woff2') format('woff2'),
  url('/assets/fonts/montserrat-medium.woff') format('woff');
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/montserrat-semibold.woff2') format('woff2'),
  url('/assets/fonts/montserrat-semibold.woff') format('woff');
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/montserrat-bold.woff2') format('woff2'),
  url('/assets/fonts/montserrat-bold.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#__next {
  height: 100%;
}
