@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#__next {
  height: 100%;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/montserrat/montserrat-v24-latin-300.woff2')
      format('woff2'),
    url('/assets/fonts/montserrat/montserrat-v24-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/montserrat/montserrat-v24-latin-regular.woff2')
      format('woff2'),
    url('/assets/fonts/montserrat/montserrat-v24-latin-regular.woff')
      format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/montserrat/montserrat-v24-latin-600.woff2')
      format('woff2'),
    url('/assets/fonts/montserrat/montserrat-v24-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/montserrat/montserrat-v24-latin-700.woff2')
      format('woff2'),
    url('/assets/fonts/montserrat/montserrat-v24-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/montserrat/montserrat-v24-latin-900.woff2')
      format('woff2'),
    url('/assets/fonts/montserrat/montserrat-v24-latin-900.woff') format('woff');
}

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/poppins/poppins-v20-latin-regular.woff2')
      format('woff2'),
    url('/assets/fonts/poppins/poppins-v20-latin-regular.woff') format('woff');
}

/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/poppins/poppins-v20-latin-500.woff2') format('woff2'),
    url('/assets/fonts/poppins/poppins-v20-latin-500.woff') format('woff');
}

/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/poppins/poppins-v20-latin-600.woff2') format('woff2'),
    url('/assets/fonts/poppins/poppins-v20-latin-600.woff') format('woff');
}
