.home {
    padding: 34px 7.2%;

    @media (min-width: 900px) {
        padding: 34px 11%;
    }
    @media (min-width: 1225px) {
        padding: 34px 17%;
    }
    @media (min-width: 1400px) {
        padding: 34px 22%;
    }
    @media (min-width: 1700px) {
        padding: 34px 28%;
    }
    @media (min-width: 1900px) {
        padding: 34px 28%;
    }
}
