.Nav {
  display: flex;
  justify-content: space-between;
  &__title {
    font: 600 1.4rem Poppins;
    letter-spacing: -0.04em;
    color: #19192e;
  }
  &__list {
    display: flex;
  }
  &__item {
    &--github {
      margin-right: 2rem;
    }
  }
}
