%bluefont {
  font: 900 12px Montserrat;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #40aaff;
}

.content {
  flex-basis: 67%;

  @media (max-width: 867px) {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.role {
  @extend %bluefont;

  text-transform: capitalize;
}

.title {
  line-height: 140%;
}

.description {
  margin-top: 8px;
  line-height: 140%;
  text-transform: capitalize;
  font: 600 14px Montserrat;
  letter-spacing: -0.02em;
  color: #859fb4;

  @media (max-width: 768px) {
    margin-top: 20px;
  }
}

.icon {
  width: 34px;
  box-shadow: 0 22.9419px 13.7651px rgba(0, 59, 108, 0.06);
  height: 34px;
  background-color: white;
  border-radius: 6px;

  @media (max-width: 420px) {
    width: 30px;
    height: 30px;
  }
}

.image {
  margin-left: 75px;
  width: 100%;
  max-width: 385px;
  height: 100%;
  display: block;

  @media (max-width: 768px) {
    max-width: none;
    margin: 12px 0 0;
    height: auto;
  }
}

.seeMore {
  color: #6492a4;
}
