.Projects {
  margin-top: 10.1rem;
  @media (min-width: 800px) {
    margin-top: 17.1rem;
  }
  &__works {
    margin-top: 2.4rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(274px, 1fr));
    @media (min-width: 340px) {
      grid-template-columns: repeat(auto-fill, minmax(304px, 1fr));
    }
  }
}
