.work {
  background: #fff;
  box-shadow: 0 50px 30px rgba(0, 59, 108, 0.06);

  transition: all 0.3s;

  &:hover {
    transition: all 0.3s;
    transform: scale(1.02);
  }
}

.info {
  width: 54%;
  max-width: 158px;
  text-align: left;
}

.image {
  box-shadow: 0 4px 10px rgba(146, 171, 191, 0.11);
}

.stack {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
